<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Sign In | Expense Tracker</title>
  </head>
  <body class="bg-dark">
    <header class="navbar navbar-expand-lg bg-secondary border-bottom">
      <h1 class="text-white mx-5">Expense Tracker</h1>
    </header>
    <main class="my-5 text-white d-flex justify-content-around">
      <div class="w-25">
        <form name="loginForm">
          <fieldset class="form-group border border-muted rounded p-3 w-100">
            <legend class="w-auto"><h2>Log In Details</h2></legend>

            <div class="text-dark form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="ema@example.com"
                required
              />
              <label for="email">Email address</label>
            </div>

            <div class="text-dark form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder=" "
                required
              />
              <label for="email">Password</label>
            </div>

            <button class="btn btn-lg btn-primary my-2" id="submit">
              Sign In
            </button>
            <br />
            <a href="/password/forgotpassword" id="forgot">Forgot password?</a>
            <br />
            Need an account?
            <a href="" id="link">Signup</a>
          </fieldset>
        </form>
      </div>
    </main>
    <script src="./login.js"></script>
  </body>
</html>
